.volcakeys {
  background: #343132;
  border: 0.75rem solid #343132;
  border-radius: 0.5rem;
  margin: 2rem 0;

  &__top-panel {
    background: #BAA596;
    border-radius: 0.25rem 0.25rem 0 0;
  }
}
